@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.fdb-block {
    padding: 30px 0;
}

* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #1E88E5;
    --secondary-Color: #544D85;
    --text-Color: #26292C;
    --alert-Color: #0099ff;
    --success-Color: #26C976;
    --warning-Color: #FAAF3A;
    --error-Color: #FE9445;
    --grey-Color: #ACADAE;
    --black-Color: #272D4E;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color: #5F4BE2;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 5px 25px;
    --button-border-radius: 50px;
    --button-font-weight: 500;
    --heading: 35px;
    --heading-two: 25px;
}

/* headerhdm8ad340b3 */
.headerhdm8ad340b3 .navbar-light .navbar-nav .nav-link{
    color: var(--secondary-Color);
}
.headerhdm8ad340b3 .btn-primary,
.headerhdm8ad340b3 .btn-primary:not(:disabled):not(.disabled):active{
    font-weight: var(--button-font-weight);
    background-color: var(--secondary-Background-Color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
}
/* aboutd1e3f52aae36e7047 */
.aboutd1e3f52aae36e7047 .DescriptionHeading {
    font-size: 40px;
}
.aboutd1e3f52aae36e7047 .btn-outline-secondary,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:hover,
.aboutd1e3f52aae36e7047 .btn-outline-secondary:not(:disabled):not(.disabled):active{
background-color: var(--error-Color);
color: var(--main-Background-Color);
border-radius: var(--button-border-radius);
font-weight: var(--button-font-weight);
}




































